:root {
    --lux-red: rgb(255, 0, 0);
    --lux-orange: rgb(255, 75, 0);
}

@media (max-width: calc(576px + 100px)) {
    .container{
        max-width: calc(100% - 140px);
    }
}

@media (min-width: calc(576px + 100px)) {
    .container{
        max-width: 540px;
    }
}

@media (min-width: calc(768px + 100px)) {
    .container{
        max-width: 720px;
    }
}

@media (min-width: calc(992px + 100px)) {
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1040px;
    }
}
